
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Detections
    body 
        h1 Detections
        ul 
        each val in data 
            li=val
        a(href='/text') Go back