doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Éxito
    body 
        h1 Éxito
        p El migrante ha sido exitosamente registrado.
        p 
            a(href="/") Volver al inicio
        p 
            a(href="/text") Registrar otro migrante