.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
    display: flex;
    gap: 5px;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}

textarea{
    resize: vertical;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
